th {    
    color: white;
    text-align: left;
    background: no-repeat rgb(3, 27, 125) right;
    border: solid 1px gray;
    border-right-color: white;
    padding: 0 20px 0 5px;
}

.up {
    background-color: rgb(165, 175, 250);
    background-image: url(ascend.png);
}

.down {
    background-color: rgb(165, 175, 250);
    background-image: url(descend.png);
}

td { 
    border: solid 1px gray;
    padding: 0 5px;
}

table { 
    border-collapse: collapse;
}

.alternate {    
    background-color: rgb(221, 221, 221);
}
strong {
    font-size: 15pt;
    background-color: red;
}
.invisibility {
    display: none;
}