/* set fonts */
body {
  font-family: "Arial", "Helvetica", sans-serif;
}

h1, h2 {
  font-family: "Times New Roman", Times, serif;
}

/* set table style */
table {
  border-collapse: collapse;
}

th, td {
  padding: 4px;
}

/* colors and border style */
th {
  text-align: left;
  font-family: "Arial Black", sans-serif;
  color: #fff;
  background-color: #041a80;
  border: 2px solid #b9bfe3;
}

th#active {
  background-color: #a8b2f0;
}

td {
  border: 2px solid #babbbf;
  font-size: 120%;
}

tr.alternate {
  background-color: #dcdedd;
}

/* set sorting order indicator (the arrow) style */
span.indicator {
  float: right;
  visibility: hidden;
}

span#active-indicator {
  visibility: visible;
}

/* set highlight span style */
span.highlight {
  background-color: #e1e518;
}
